.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.sousMenuItem {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.sousMenuItem:hover {
    -fx-background-color: #2980b9;
}

.sousMenuItem:pressed {
    -fx-background-color: #34495e; 
}
.configItem {
    -fx-background-color: linear-gradient(#6a79f7, #1e59f7);
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.configItem:hover {
    -fx-background-color: linear-gradient(#8c8c8c, #1e59f7);
    -fx-background-insets: 0;
}

.configItem:pressed {
    -fx-background-color: linear-gradient(#1e59f7, #6a79f7);
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.confirm-button {
    -fx-background-color: #2196f3; /* couleur de fond */
    -fx-text-fill: #ffffff; /* couleur du texte */
    -fx-font-size: 14px; /* taille de police */
    -fx-font-weight: bold; /* poids de police */
    -fx-padding: 10px; /* marge interne */
    -fx-border-radius: 5px; /* arrondi des bords */
    -fx-border-color: #2196f3; /* couleur de bordure */
    -fx-border-width: 2px; /* épaisseur de bordure */
}

.confirm-button:hover {
    -fx-background-color: #ffffff; /* couleur de fond lors du survol */
    -fx-text-fill: #2196f3; /* couleur du texte lors du survol */
}

.confirm-button:active {
    -fx-background-color: #64b5f6; /* couleur de fond lors du clic */
}

.labelConfig {
    -fx-text-fill: #6a79f7;
    -fx-font-size: 16px;
    -fx-font-weight: lighter;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}